@model IEnumerable<TaxSystemNASS.Models.UserForOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aspnetuser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aspnetuser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderGuid)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserForOrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserForOrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserForOrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>