@model IEnumerable<TaxSystemNASS.Models.Order>

@{
    ViewData["Title"] = "Orders Queue";
}

<h1>Orders Queue</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderGuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderEta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Status.Equals("Completed"))
            {

            }
            else
            {

                @if (DateTime.Today == item.OrderEta)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderGuid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderPlaced)
                        </td>
                        <td style="color:darkorange">
                            @Html.DisplayFor(modelItem => item.OrderEta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td style="color:darkorange">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCost)
                        </td>

                        <td>
                            <a asp-action="OrderDetails" asp-route-id="@item.OrderId">Details</a>
                        </td>
                    </tr>
                }
                @if (DateTime.Today > item.OrderEta)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderGuid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderPlaced)
                        </td>
                        <td style="color:red">
                            @Html.DisplayFor(modelItem => item.OrderEta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td style="color:red">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCost)
                        </td>

                        <td>
                            <a asp-action="OrderDetails" asp-route-id="@item.OrderId">Details</a>
                        </td>
                    </tr>
                }
                @if (DateTime.Today < item.OrderEta)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderGuid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderPlaced)
                        </td>
                        <td style="color:green">
                            @Html.DisplayFor(modelItem => item.OrderEta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td style="color:green">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCost)
                        </td>

                        <td>
                            <a asp-action="OrderDetails" asp-route-id="@item.OrderId">Details</a>
                        </td>
                    </tr>
                }

            }
        }
    </tbody>
</table>