@model TaxSystemNASS.Models.Order

@{
    ViewData["Title"] = ViewBag.Title;
}
<p><br /></p>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

<div class="container-fluid">
    <form asp-controller="OrderDetails" asp-action="SearchYourOrders" method="get">
        <div class="form-row">
            <div class="col-4">
                <label class="lbl" for="SearchBy">Search By:</label>
                <select class="form-control flex-column" id="SearchBy" value="@ViewData["SearchBy"]" name="SearchBy">
                    <option value="StreetAddress">StreetAddress</option>
                    <option value="Name">Last Name</option>
                    <option value="User">User on Order</option>
                    <option value="Product">Product</option>
                </select>
            </div>
            <div class="col-8">
                <label class="lbl" for="SearchFor">Search For:</label>
                <input type="text" class="form-control" id="SearchFor" value="@ViewData["SearchFor"]" name="SearchFor" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-2">
                <input type="submit" style="margin-top:1em; margin-bottom:1em;" id="submitbtn" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <h4>@ViewBag.PageTitle</h4>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>Order Guid</th>
            <th>Status</th>
            <th>Order Placed</th>
            <th>Order Eta</th>
            <th>Order Completed</th>
            <th>Cost</th>
            <th>Actions</th>
        </tr>
        @foreach (Order order in ViewBag.Orders)
        {
            <tr>
                <td>@order.OrderGuid</td>
                <td>@order.Status</td>
                <td>@order.OrderPlaced</td>
                <td>@order.OrderEta</td>
                <td>@order.CompletedDate</td>
                <td>@order.TotalCost</td>
                <td><a asp-controller="OrderDetails" asp-action="OrderDetails" asp-route-id="@order.OrderId">View Order</a></td>
            </tr>
        }
    </table>
</div>