@{
    ViewData["Title"] = "Create Person";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="container-fluid">
    <form method="post" asp-action="CreatePerson">
        <div class="form-row">
            <h4 class="text-info">Personal Information</h4>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="FNameText" name="FNameText" value="@ViewData["FNameText"]" placeholder="First Name" />
            </div>
            <div class="col-1">
                <input type="text" class="form-control" id="MIText" name="MIText" value="@ViewData["MIText"]" placeholder="MI" />
            </div>
            <div class="col">
                <input type="text" class="form-control" id="LNameText" name="LNameText" value="@ViewData["LNameText"]" placeholder="Last Name" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-4">
                <input type="date" class="form-control" id="DOBText" name="DOBText" value="@ViewData["DOBText"]" />
            </div>
        </div>
        <div class="form-row">
            <h4 class="text-info">Contact Information</h4>
        </div>
        <div class="form-row">
            <p>You can add more later, just do your primary on for now!</p>
        </div>
        <div class="form-row">
            <div class="col">
                <select class="form-control" id="ContactTypeSelect" name="ContactTypeSelect" value="@ViewData["ContactTypeSelect"]">
                    <option value="Phone">Phone</option>
                    <option value="Email">Email</option>
                    <option value="Fax">Fax</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-2">
                <input class="form-check-input" style="margin-left: 0rem;" type="checkbox" id="PrimaryCheck" name="PrimaryCheck" value="true" checked="@ViewData["PrimaryCheck"]">
                <label class="form-check-label" style="margin-left: 1.25rem;" for="subcheck" id="sublbl">
                    Primary
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-4">
                <input type="text" class="form-control" id="ContactText" name="ContactText" value="@ViewData["ContactText"]" placeholder="Contact" />
            </div>
        </div>
        <div class="form-row">
            <h4 class="text-info">Address Information</h4>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="AddrLine1Text" name="AddrLine1Text" value="@ViewData["AddrLine1Text"]" placeholder="Address Line 1" />
            </div>
            <div class="col">
                <input type="text" class="form-control" id="AddrLine2Text" name="AddrLine2Text" value="@ViewData["AddrLine2Text"]" placeholder="Address Line 2" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <select class="form-control flex-column" id="StateSelect" name="StateSelect" value="@ViewData["StateSelect"]">
                    <option value="">-State-</option>
                    <option value="TestState">TestState</option>
                    <option value="State2">State2</option>
                    <option value="State3">State3</option>
                    <option value="State4">State4</option>
                    <option value="State5">State5</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control flex-column" id="ZipSelect" name="ZipSelect" value="@ViewData["ZipSelect"]">
                    <option value="">-ZIP-</option>
                    <option value="TestZip">TestZip</option>
                    <option value="Zip2">22222</option>
                    <option value="Zip3">33333</option>
                    <option value="Zip4">44444</option>
                    <option value="Zip5">55555</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <select class="form-control flex-column" id="CitySelect" name="CitySelect" value="@ViewData["CitySelect"]">
                    <option value="">-City-</option>
                    <option value="TestCity">TestCity</option>
                    <option value="City2">City2</option>
                    <option value="City3">City3</option>
                    <option value="City4">City4</option>
                    <option value="City5">City5</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control flex-column" id="CountySelect" name="CountySelect" value="@ViewData["CountySelect"]">
                    <option value="">-County-</option>
                    <option value="TestCounty">TestCounty</option>
                    <option value="County2">County2</option>
                    <option value="County3">County3</option>
                    <option value="County4">County4</option>
                    <option value="County5">County5</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="ParcelText" name="ParcelText" value="@ViewData["ParcelText"]" placeholder="Parcel ID (If Applicable)" />
            </div>
        </div>
        <div class="col"></div>
        <div class="form-group">
            <input type="submit" value="CreatePerson" class="btn btn-primary" />
        </div>
    </form>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

