@{
    ViewData["Title"] = "Create Person";
}


<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="container-fluid">
    <form method="post" asp-action="CreateUser">
        <div class="form-row">
            <h4 class="text-info">Account Information</h4>
        </div>
        <div class="form-row">
            <div class="col-6">
                <input type="email" class="form-control" id="Email" name="Email" value="@ViewData["Email"]" placeholder="Email" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <input type="password" class="form-control" id="Password" name="Password" value="@ViewData["Password"]" placeholder="Password" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-2">
                <input class="form-check-input" style="margin-left: 0rem;" type="checkbox" id="ClientCheck" name="ClientCheck" value="true" checked="@ViewData["ClientCheck"]">
                <label class="form-check-label" style="margin-left: 1.25rem;" for="subcheck" id="sublbl">
                    Check If Client
                </label>
            </div>
        </div>
        <div class="form-row">
            <h4 class="text-info">Personal Information</h4>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="FNameText" name="FNameText" value="@ViewData["FNameText"]" placeholder="First Name" />
            </div>
            <div class="col-1">
                <input type="text" class="form-control" id="MIText" name="MIText" value="@ViewData["MIText"]" placeholder="MI" />
            </div>
            <div class="col">
                <input type="text" class="form-control" id="LNameText" name="LNameText" value="@ViewData["LNameText"]" placeholder="Last Name" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-4">
                <input type="date" class="form-control" id="DOBText" name="DOBText" value="@ViewData["DOBText"]" />
            </div>
        </div>
        <div class="form-row">
            <h4 class="text-info">Contact Information</h4>
        </div>
        <div class="form-row">
            <p>You can add more later, just do your primary one for now!</p>
        </div>
        <div class="form-row">
            <div class="col">
                <select class="form-control" id="ContactTypeSelect" name="ContactTypeSelect" value="@ViewData["ContactTypeSelect"]">
                    <option value="Phone">Phone</option>
                    <option value="Email">Email</option>
                    <option value="Fax">Fax</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-2">
                <input class="form-check-input" style="margin-left: 0rem;" type="checkbox" id="PrimaryCheck" name="PrimaryCheck" value="true" checked="@ViewData["PrimaryCheck"]">
                <label class="form-check-label" style="margin-left: 1.25rem;" for="subcheck" id="sublbl">
                    Primary
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-4">
                <input type="text" class="form-control" id="ContactText" name="ContactText" value="@ViewData["ContactText"]" placeholder="Contact" />
            </div>
        </div>
        <div class="form-row">
            <h4 class="text-info">Address Information</h4>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="AddrLine1Text" name="AddrLine1Text" value="@ViewData["AddrLine1Text"]" placeholder="Address Line 1" />
            </div>
            <div class="col">
                <input type="text" class="form-control" id="AddrLine2Text" name="AddrLine2Text" value="@ViewData["AddrLine2Text"]" placeholder="Address Line 2" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <select class="form-control flex-column" id="StateSelect" name="StateSelect" value="@ViewData["StateSelect"]" asp-items="ViewBag.StateName">
                    <option value="">-State-</option>
                    <option value="TestState">TestState</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control flex-column" id="ZipSelect" name="ZipSelect" value="@ViewData["ZipSelect"]" asp-items="ViewBag.ZipName">
                    <option value="">-ZIP-</option>
                    <option value="TestZip">TestZip</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <select class="form-control flex-column" id="CitySelect" name="CitySelect" value="@ViewData["CitySelect"]" asp-items="ViewBag.CityName">
                    <option value="">-City-</option>
                    <option value="TestCity">TestCity</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control flex-column" id="CountySelect" name="CountySelect" value="@ViewData["CountySelect"]" asp-items="ViewBag.CountyName">
                    <option value="">-County-</option>
                    <option value="TestCounty">TestCounty</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" id="ParcelText" name="ParcelText" value="@ViewData["ParcelText"]" placeholder="Parcel ID (If Applicable)" />
            </div>
        </div>
        <div class="col"></div>
        <div class="form-group">
            <input type="submit" value="CreatePerson" class="btn btn-primary" />
        </div>
    </form>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

